<form action="/reservations/delete/<%= reservation._id %>" method="POST" class="delete-form">
  <button type="submit" class="delete-btn" 
          data-type="réservation" 
          data-name="Catway <%= reservation.catwayNumber %> pour <%= reservation.clientName %>">
    Supprimer
  </button>
</form>
