<form action="/catways/delete/<%= catway._id %>" method="POST" class="delete-form">
  <button type="submit" class="delete-btn" 
          data-type="catway" 
          data-name="<%= catway.catwayNumber %>">
    Supprimer
  </button>
</form>
