<form action="/catways/update/<%= catway._id %>" method="POST" class="state-form hidden">
    <input type="text" name="catwayState" value="<%= catway.catwayState %>" required>
    <button type="submit">Sauvegarder</button>
    <button type="button" class="cancel-btn">Annuler</button>
</form>