<form class="update-form hidden" data-id="<%= catway.catwayNumber %>">
    <input type="text" name="catwayState" value="<%= catway.catwayState %>" required>
    <button type="submit">Sauvegarder</button>
    <button type="button" class="cancel-btn">Annuler</button>
</form>