body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.message {
  padding: 12px 20px;
  width: fit-content;
  border-radius: 6px;
  font-weight: bold;
  display: block;
}

.message.success {
  background-color: #d4edda;
  color: green;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: red;
  border: 1px solid #f5c6cb;
}

.editable-table caption {
  display: none;
}
td > .btn-container {
  display: flex;
  gap: 10px; /* espace entre les boutons */
  align-items: center; /* verticalement centrés */
}

/* Bordures autour de toutes les cellules du tableau */
.editable-table, 
.editable-table th, 
.editable-table td {
  border: 1px solid #333; /* couleur et épaisseur de la bordure */
  border-collapse: collapse; /* pour éviter les doubles bordures */
  padding: 8px; /* un peu d’espace à l’intérieur des cellules */
}

/* Optionnel : style du header */
.editable-table th {
  background-color: #f2f2f2;
  text-align: center;
}
