body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.message {
  padding: 12px 20px;
  width: fit-content;
  border-radius: 6px;
  font-weight: bold;
  display: block;
}

.message.hidden { display: none; }

.message.success {
  background-color: #d4edda;
  color: green;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: red;
  border: 1px solid #f5c6cb;
}

.editable-table caption {
  display: none;
}
td > .btn-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.editable-table, 
.editable-table th, 
.editable-table td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 8px;
}

.editable-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.editable-table td:nth-child(1),
.editable-table td:nth-child(2),
.editable-table td:nth-child(4) {
  text-align: center;
}

.editable-table.reservations td:nth-child(3) {
  text-align: center;
}