<form action="/api/users" method="POST" class="add-form hidden">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" name="username" id="username" required>

    <label for="email">Adresse mail :</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Ajouter</button>
    <button type="button" class="cancel-btn">Annuler</button>
</form>