<form action="/users/delete/<%= user._id %>" method="POST" class="delete-form">
  <button type="submit" class="delete-btn" 
          data-type="utilisateur" 
          data-name="<%= user.username %>">
    Supprimer
  </button>
</form>
